<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Pocketcash" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.49.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="bg-white antialiased">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <.link href={~p"/"} class="btn btn-ghost normal-case text-xl">PocketCash</.link>
      </div>
      <div class="flex-none gap-2">
        <ul class="menu menu-horizontal px-1">
          <li>
            <.link href={~p"/transactions/new"}>New transaction</.link>
          </li>
        </ul>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img src="https://picsum.photos/200" />
            </div>
          </label>
          <ul
            tabindex="0"
            class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
          >
            <%= if @current_user do %>
              <li>
                <.link href={~p"/users/settings"} class="justify-between">Profile</.link>
              </li>
              <li>
                <.link href={~p"/users/log_out"} method="delete">Log out</.link>
              </li>
            <% else %>
              <li>
                <.link href={~p"/users/register"} class="btn">Register</.link>
              </li>
              <li>
                <.link href={~p"/users/log_in"} class="btn">Log in</.link>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= @inner_content %>
  </body>
</html>
